*.py[co]

# Packages
*.egg?
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt
pip-cache

# Unit test / coverage reports
.coverage
.pytest_cache

# Build
cmake-build-debug/

# Created by editors
*~
\#*
\.\#*
*.swp
.ipynb_checkpoints
.idea

# MINT files
mint/__init__.py
libmint.*
test_create_grid.vtk
test_polyline_integral.vtk
test_regrid_edges_py.nc
